input[type= Number]::-webkit-inner-spin-button,
input[type= Number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

#login .img img{
    height: 100px;
    width: 130px;
    
    
}
#login .display .color{
    background-color: #8A288F;
}
#login .display .color .button button{
    background-color: white; 
    transition: .6s; 
}
#login .display .color .button button:hover{
    background-color: #0B5ED7; 
    color:white 
}
